
.contact-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.text-right{
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(rgb(103, 250, 98),rgba(255, 255, 255, 0.605),rgb(78, 252, 104));
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-muted{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 20px;
    letter-spacing: 0.75px;
    word-spacing: 2px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-container{
        padding-top: 3rem;
        padding-bottom: 1rem;
        
    }
    .right{
        margin: 10px;
    }
    .left{
        margin: 10px;
    }
  
  }

.contact-info{
    font-size: x-small;
    /* color: gray; */
}

.contact-info:hover{
  color: darkgreen;
}
.text-muted{
    margin: 0;
}

.h1{
    font-family: 'Times New Roman', Times, serif;
}

















