

.footer-icons{
    display: flex;
    justify-content: center !important;
}

.footer-container{
    /* background: linear-gradient(rgba(10, 249, 101, 0.333),rgba(88, 253, 108, 0.274),rgba(61, 244, 128, 0.468)); */
    background:  
 #4dffff;
   
    color: black !important;
}

 

.footer-content{
color:black;
}

.footer-content:hover{
   cursor: pointer;
}








