

.header {
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 100% !important;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.role{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    font-weight: normal;
}
.role-span{
    color:  #ff5500; 
    font-weight: bold;
}
.left h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.957);
}

.left h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(245, 10, 147);
}

.left h4 {
    color: rgba(10, 10, 10, 0.963);
    font-size: 30px;
    font-weight: 600;
}

.cv_buttons {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.hire-btn {
    background-color:  #202ae0 !important;
    color: white !important;
    width: 200px;
    height: 40px;
    margin: 10px;
}

.hire-btn:hover {
    background-color: rgb(11, 239, 247) !important;
    color: rgb(0, 0, 0) !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cv_buttons {
        flex-direction: column;
    }

}













