

.header {
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 100% !important;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic {
    border-radius: 50%;
    height: 320px;
    width: 320px;
}

.role{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    font-weight: normal;
}
.role-span::first-letter {
    color: #7efa11; /* Color for the first letter */
}

.role-span{
    color:  

    #ffff00; 
    font-weight: bold;
}
.left h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(250, 248, 248, 0.957);
}

.left h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(243, 249, 244);
}

/* .left h1::first-letter{
   color: rgb(232, 210, 13);
}

.secondword::first-letter{
    color: rgb(232, 210, 13); 
} */
.left h4 {
    color: rgba(247, 244, 244, 0.998);
    font-size: 30px;
    font-weight: 600;
}

.cv_buttons {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.hire-btn {
    background-color: #4dffff !important;
    color:black !important;
    width: 200px;
    height: 40px;
    margin: 10px;
}

.hire-btn:hover {
    background-color: 	 #ffff33 !important;
    color: rgb(0, 0, 0) !important;
}

.contact-link:active{
    height: 40px;
    width: 40px;

}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cv_buttons {
        flex-direction: column;
    }

}













