

.skill-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.skill-heading{
    display: flex;
    justify-content: center;
}
.skill-heading h1{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 50px;

}
.skill-icons{
    background: linear-gradient(rgba(253, 252, 255, 0.514),rgba(255, 255, 255, 0.605),rgb(91, 199, 186));
    border-radius: 10px;
    width: 70%;
    margin-top: 25px;
}

.skill-icon-html{
    color: rgb(255, 71, 39);
    width: 80px;
    height: 80px;
    margin: 10px;
    /* margin-bottom: 5px; */
}

.skill-icon-css{
    color: rgb(0, 26, 255);
    width: 80px;
    height: 80px;
    margin: 10px;
}
.skill-icon-bts{
    color: rgb(85, 0, 255);
    width: 80px;
    height: 80px;
    margin: 10px;
}
.skill-icon-js{
    color: rgb(255, 220, 45);
    width: 80px;
    height: 80px;
    margin: 10px;
}
.skill-icon-rjs{
    color: rgb(39, 147, 255);
    width: 80px;
    height: 80px;
    margin: 10px;
}
.skill-icon-njs{
    color: rgb(0, 113, 6);
    width: 80px;
    height: 80px;
    margin: 10px;
}
.skill-icon-exp{
    color: rgb(255, 237, 39);
    width: 80px;
    height: 80px;
    margin: 10px;
}
.skill-icon-mdb{
    color: rgb(39, 255, 46);
    width: 80px;
    height: 80px;
    margin: 10px;
}

.topic{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
letter-spacing: 0.5px;
}


.skill-icon-sql{
    color: rgb(216, 141, 0);
    width: 80px;
    height: 80px;
    margin: 10px;
}

.skill-icon-git{
    color: rgb(255, 58, 24);
    width: 80px;
    height: 80px;
    margin: 10px;
}

.skill-icon-github{
    color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    margin: 10px;
}

/* .skill-icon-aws{
    color: rgb(2, 0, 26);
    width: 50px;
    height: 50px;
    margin: 10px;
}

.skill-icon-dsa{
    color: rgb(207, 249, 255);
    width: 50px;
    height: 50px;
    margin: 10px;
}
.skill-icon-python{
    color: rgb(255, 183, 39);
    width: 50px;
    height: 50px;
    margin: 10px;
} */

/* Responsive adjustments */
@media (max-width: 768px) {
    .skill-icons {
      width: 100% !important;
    }
    .skill-bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5px;
    }
  
  }















